{% extends "base.html" %}

{% block content %}
    <h1>Shopping Cart</h1>
    {% if cart %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.total_price }}</td>
                    <td>
                        <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td>${{ cart.get_total_price }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <a href="{% url 'orders:order_create' %}">Proceed to Checkout</a>
     {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}