{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Reset Password</h2>
    <p class="text-center">Enter your email address below, and we'll send you an email to reset your password.</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token}
                {{ form.as_p }}
                <button-primary btn- type="submit" class="btn btn-primary btn-block">Send Reset Email</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}