body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f7ff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #e0e9f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
