{% extends "base.html" %}

{% block content %}
    <h1>Payment for Order {{ order.id }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_pub_key }}"
            data-description="Payment for Order {{ order.id }}"
            data-amount="{{ order.get_total_cost|floatformat:2|mul:100 }}"
            data-locale="auto">
        </script>
    </form>
{% endblock %}